.tag-bed {
	background-image: url(../images/tag_bed.png);
}

.tag-bath {
	background-image: url(../images/tag_bath.png);
}

.tag-garage {
	background-image: url(../images/tag_garage.png);
}

.ltag-bed {
	background-image: url(../images/tag_l_bed.png);
}

.ltag-bath {
	background-image: url(../images/tag_l_bath.png);
}

.ltag-garage {
	background-image: url(../images/tag_l_garage.png);
}