@font-face {
    font-family: "Fregat";
    src: url(../fonts/Fregat_regular.otf);
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: "Fregat";
    src: url(../fonts/Fregat_bold.otf);
	font-weight: bold;
	font-style: normal;
}

@font-face {
    font-family: "Fregat";
    src: url(../fonts/Fregat_italic.otf);
	font-weight: normal;
	font-style: italic;
}

@font-face {
    font-family: "Fregat";
    src: url(../fonts/Fregat_bold_italic.otf);
	font-weight: bold;
	font-style: italic;
}

::-webkit-input-placeholder {
	color: #000;
	font-size: 14px;
	font-family: "Fregat";
}

::-moz-placeholder {
	color: #000;
	font-size: 14px;
	font-family: "Fregat";
}

:-moz-placeholder {
	color: #000;
	font-size: 14px;
	font-family: "Fregat";
}

:-ms-input-placeholder  {
	color: #000;
	font-size: 14px;
	font-family: "Fregat";
}

* {
	box-sizing: border-box;
}

@media only screen and (max-width: 1140px) {
	body {
		overflow-x: scroll!important;
	}
}

body {
	font-family: "Fregat"!important;
	overflow-x: hidden;
	overflow-y: auto;
	margin: 0;
	min-width: 1280px;
	background: #f2f1ef;
}

main {
	width: 1021px;
	margin: 0 auto;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
}

article {
	align-self: stretch;
	width: 100%;
	max-width: 772px;
	margin-bottom: 15px;
}

aside {
	min-width: 242px;
	max-width: 242px;
	padding-right: 5px;
	border-right: 5px solid #4fa5e8;
	padding-bottom: 11px;
}

aside .ava-block img {
	object-fit: cover;
	width: 100%;
}

aside .ava-block {
	width: 222px;
	height: 222px;
	border: 1px solid #4fa5e8;
	border-radius: 5px;
	overflow: hidden;
}

footer {
	width: 100%;
	height: 92px;
	background: #1d1e21;
	margin-top: 10px;
	position: relative;
	z-index: 102;
}

.footer-content {
	width: 1021px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 92px;
	margin: 0 auto;
}

.footer-block:first-of-type {
	padding-left: 0;
}

.footer-block {
	color: #797575;
	font-size: 14px;
}

.footer-separator {
	width: 1px;
	height: 25px;
	background: #797575;
}

.social-share {
	display: inline-block;
	width: 36px;
	height: 34px;
	cursor: pointer;
	background-position: top left;
}

footer .social-share {
	margin-left: 15px;
}

footer .social-share:first-of-type {
	margin-left: 0;
}

.share-GP {
	background: url(../images/bG+.png);
}

.share-VK {
	background: url(../images/bVK.png);
}

.share-TW {
	background: url(../images/bTw.png);
}

.share-FB {
	background: url(../images/bFB.png);
}

.share-OK {
	background: url(../images/bOK.png);
}

.share-RSA {
	background: url(../images/bRSA.png);
}

input[type=text],
input[type=password] {
	font-size: 14px;
	font-family: "Fregat"!important;
	color: #000;
	height: 23px;
	padding: 0 8px;
	border-radius: 3px;
	border: 1px solid #4fa5e8;
}

header {
	width: 100%;
	height: 40px;
	margin-bottom: 15px;
}

header nav {
	width: 100%;
	height: 38px;
	border-top: 1px solid #4fa5e8;
	border-bottom: 1px solid #4fa5e8;
	background: rgba(0, 0, 0, 0.5);
	
	z-index: 1000;
	position: relative;
	
	display: flex;
	justify-content: center;
	line-height: 36px;
}

header nav .menu {
	margin: 0 10px 0 0;
	padding: 0;
	position: relative;
}

header nav .menu-item:hover {
	background: rgba(71, 172, 243, 0.25);
}

header nav .menu-item:hover .fa {
	visibility: visible;
}

header nav .menu-item {
	padding: 10px 15px;
	position: relative;
	text-align: center;
	display: inline;
	cursor: pointer;
}

header nav .menu-item .fa {
	color: #4fa5e8;
	font-size: 10px;
	visibility: hidden;
	position: absolute;
	margin-top: 15px;
}

header nav .menu-item:last-of-type .fa {
	margin-top: 15px;
	margin-left: 4px;
}

header nav .menu-group {
	padding: 10px 15px;
	font-size: 14px;
	color: #fff;
	display: inline;
}

header nav .menu-group a{
	cursor: pointer;
}

header nav .menu-group a:hover {
	text-decoration: underline;
}


header nav a {
	font-size: 14px;
	color: #fff;
	text-decoration: none;
}

header nav .search-box {
	width: 252px;
	height: 25px;
	border: 1px solid #4fa5e8;
	margin-top: 6px;
	border-radius: 3px;
	display: flex;
}

header nav .search-input {
	font-size: 14px;
	width: 225px;
	color: #000;
	height: 23px;
	padding: 0 8px;
	border-radius: 3px 0 0 3px;
	border: none;
}

header nav .search-btn {
	border: none;
	border-left: 1PX solid #4ac1d1;
	cursor: pointer;
	display: block;
	width: 27px;
	height: 23px;
	background: #efeee9;
	color: #4ac1d1;
	border-radius: 0 3px 3px 0;
}

header nav .search-btn:hover {
	color: #a6dade;
}

header nav .menu-dropdown {
	position: absolute;
	left: -9999px;
	margin: 0;
	display: flex;
	flex-direction: column;
	background: rgba(0, 0, 0, 0.5);
	border-radius: 0 0 3px 3px;
	margin-top: -1px;
	padding: 0;
	border: 1px solid #7cbaea;
}

header nav .menu-item:hover .menu-dropdown {
	left: 0;
}

header nav .menu-dropdown .menu-item {
	padding: 10px 17px 10px 7px;
	line-height: 11px;
	text-align: left;
	white-space: nowrap;
}

header nav .menu-dropdown .menu-item:not(:first-of-type) {
	border-top: 1px solid #4fa5e8;
}

header nav .menu-auth-box {
	color: #fff;
	display: none;
	font-size: 12px;
	line-height: initial;
	position: absolute;
	left: 0;
	margin-top: 2px;
	margin-left: -80px;
	width: 204px;
	padding: 8px;
	background: rgba(0, 0, 0, 0.5);
	border: 1px solid #7cbaea;
	border-radius: 3px;
}

header nav .password-box {
	width: 188px;
	height: 25px;
	border: 1px solid #4fa5e8;
	border-radius: 3px;
	display: flex;
	margin-bottom: 10px;
}

header nav .password-input {
	font-size: 14px;
	width: 161px;
	color: #000;
	height: 23px;
	padding: 0 8px;
	border-radius: 3px 0 0 3px;
	border: none;
}

header nav .password-btn {
	border: none;
	cursor: pointer;
	display: block;
	width: 27px;
	height: 23px;
	background: #fff;
	color: #4ac1d1;
	border-radius: 0 3px 3px 0;
}

header nav .password-btn:hover {
	color: #a6dade;
}

header nav .login-input {
	width: 188px;
	height: 25px;
	border: 1px solid #4fa5e8;
	border-radius: 3px;
	font-size: 14px;
	color: #000;
	padding: 0 8px;
	margin-bottom: 8px;
}

header nav .addit-box .addit-left {
	float: left;
	line-height: 8px;
}

header nav .addit-box .addit-right {
	height: 31px;
	padding-top: 10px;
}

header nav .addit-checkbox {
	float: left;
	margin-left: 0;
}

header nav .addit-checkbox-label {
	display: block;
	padding-top: 1px;
	padding-left: 20px;
}

header nav .addit-question .fa {
	font-size: 14px;
	font-weight: 300;
	float: left;
	color: #4fa5e8;
	border: 1px solid #4fa5e8;
	border-radius: 7px;
	display: block;
	width: 15px;
	height: 15px;
	padding-left: 4px;
	position: absolute;
}

header nav .addit-question a {
	display: block;
	padding-top: 4px;
	font-size: 12px;
	padding-left: 20px;
	white-space: nowrap;
	
}

header nav .addit-question a:hover {
	text-decoration: underline;
}

header nav .addit-right button {
	float: right;
	vertical-align: middle;
	width: 73px;
	height: 31px;
	background: linear-gradient(to bottom, #7cbaea 0%,#488dc2 99%);
	border: none;
	color: #fff;
	font-weight: bold;
	border-radius: 3px;
	font-size: 12px;
	cursor: pointer;
}

header nav .addit-right button:active {
	background: linear-gradient(to top, #7cbaea 0%,#488dc2 99%);
}

header nav .auth-separator {
	margin-top: 18px;
	width: 100%;
	height: 1px;
	background: #4fa5e8;
}

header nav .social-box {
	text-align: center;
	margin-top: 10px;
}

header nav .social-box .social-icons {
	display: flex;
	justify-content: center;
}

header nav .social-box .social-icons a {
	width: 31px;
	display: block;
	cursor: pointer;
	height: 29px;
	margin: 8px 1px;
}

header nav .social-icons .social-gp {
	background: url(../images/G+.png);
}

header nav .social-icons .social-vk {
	background: url(../images/VK.png);
}

header nav .social-icons .social-ok {
	background: url(../images/OK.png);
}

header nav .social-icons .social-fb {
	background: url(../images/FB.png);
}

header nav .reg-checkbox {
	float: left;
	margin-left: 0;
}

header nav .reg-checkbox-label {
	display: block;
	padding-top: 1px;
	padding-left: 20px;
}

header nav .reg-btn {
	float: right;
	vertical-align: middle;
	width: 100%;
	height: 31px;
	background: linear-gradient(to bottom, #7cbaea 0%,#488dc2 99%);
	border: none;
	color: #fff;
	font-weight: bold;
	border-radius: 3px;
	font-size: 12px;
	cursor: pointer;
	margin-top: 10px;
}

header nav .reg-btn:active {
	background: linear-gradient(to top, #7cbaea 0%,#488dc2 99%);
}

select {
	min-width: 47px;
	height: 30px;
	background: #fff url(../images/caret-down.png) no-repeat;
	background-position: calc(100% - 7px) calc(50% + 1px);
	border: 1px solid #4fa5e8;
	border-radius: 3px;
	color: #000;
	font-size: 14px;
	cursor: pointer;
	-webkit-appearance: none;
	padding-left: 8px;
}

header button, article button {
	text-align: center;
	border: none;
	color: #fff;
	font-size: 13px;
	font-weight: bold;
	border-radius: 3px;
	background: linear-gradient(to bottom, #7cbaea 0%,#488dc2 99%);
	cursor: pointer;
}

header button:active, article button:active {
	background: linear-gradient(to top, #7cbaea 0%,#488dc2 99%);
}

input[type=checkbox] + label {
	padding-left: 20px;
    height: 15px;
    line-height: 15px;
    background-repeat: no-repeat;
	cursor: pointer;
    background-position: 0 0;
	background-image: url(../images/checkbox_states.png);
}

input[type=checkbox]:checked + label {
    background-position: 0 -15px;
}

input[type=checkbox] {
	width: 0;
	margin: 0;
}

input[type=radio] + label {
	padding-right: 20px;
    height: 15px;
    line-height: 15px;
	display: inline-block;
    background-repeat: no-repeat;
	cursor: pointer;
    background-position: right 0;
	background-image: url(../images/radio_states.png);
}

input[type=radio]:checked + label {
    background-position: right -15px;
}

input[type=radio] {
	width: 0;
	margin: 0;
}

.lk-menu-box {
	margin-top: 15px;
	width: 222px;
}

.lk-menu-item {
	display: block;
	border: 1px solid #4fa5e8;
	border-radius: 5px;
	height: 31px;
	width: 100%;
	color: #000;
	padding: 6px 10px;
	font-size: 16px;
	margin-bottom: 4px;
	cursor: pointer;
}

.lk-menu-empty {
	height: 27px;
	width: 100%;
	background: transparent;
}

article .info-block {
	width: 741px;
	margin-left: 15px;
	background: #fff;
	border-radius: 5px;
	border: 1px solid #4fa5e8;
}

.info-name {
	color: #1069a1;
	font-size: 22px;
	font-weight: bold;
	padding: 5px 10px;
	border-bottom: 1px solid #4fa5e8;
}

.info-name span {
	float: right;
}

.info-padding {
	padding: 0 10px 10px 10px;
	display: flex;
	justify-content: space-between;
}

.info-left {
	flex: 2;
	margin-right: 10px;
}

.info-line span {
	float: right;
}

.info-line {
	padding: 8px 5px 8px 5px; 
	border-bottom: 1px solid #000;
	font-size: 16px;
}

.info-right button {
	width: 100%;
	height: 31px;
	margin-top: 7px;
}

.info-red {
	margin-top: 10px;
	border-radius: 5px;
	height: 122px;
	width: 252px;
	background: #fff;
	border: 1px solid #ff0000;
	overflow: hidden;
}

.info-red span {
	color: #fff;
	text-transform: uppercase;
	display: block;
	text-align: center;
	background: #ff0000;
	height: 40px;
	font-size: 24px;
	padding-top: 7px;
	font-weight: bold;
}

.info-sum {
	height: 81px;
	width: 100%;
	background: transparent url(../images/rub.png) no-repeat;
	background-position: 10px 10px;
	font-size: 31px;
	color: #ff0000;
	font-weight: bold;
	text-align: right;
	padding-right: 10px;
	line-height: 81px;
}

.decor-line {
	margin-bottom: 9px;
	width: 100%;
	height: 5px;
	background: #4fa5e8;
}

article .main-block {
	margin-top: 15px;
	width: 741px;
	margin-left: 15px;
	background: #fff;
	border-radius: 5px;
	border: 1px solid #4fa5e8;
}

.main-block h2 {
	text-align: center;
	font-weight: bold;
	font-size: 18px;
	text-transform: uppercase;
	color: #1069a1;
	margin: 0;
	padding: 5px 0;
	border-bottom: 1px solid #4fa5e8;
}

.main-block form {
	padding: 10px
}

.main-block form label:first-of-type {
	margin-top: 0;
}

.main-block form label {
	display: block;
	margin-top: 10px;
	margin-bottom: 5px;
	font-size: 16px;
}

.main-block form input {
	display: block;
	width: 100%;
	height: 30px;
}

.main-block form select {
	display: block;
	height: 30px;
	padding-right: 50px;
	min-width: 250px;
}

textarea {
    border: 1px solid #4fa5e8;
    padding: 3px 8px;
    display: block;
    margin: 5px 0;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    height: 30px;
    border-radius: 3px;
}

.form-control {
	margin-top: 10px;
	display: flex;
	justify-content: flex-end;
}

.form-control button {
	display: block;
	width: 152px;
	height: 31px;
	margin-left: 10px;
}

.result-box {
	position: relative;
	width: 100%;
}

.result-sort {
	color: #1069a1;
	display: flex;
	width: 100%;
	justify-content: flex-end;
	align-items: center;
	background: #fff;
	height: 50px;
	font-size: 14px;
	margin-top: 3px;
}

.result-sort span {
	display: block;
	padding: 0 10px;
}

.result-sort div {
	background: #e9f2f3;
	border-radius: 5px;
	padding: 8px 11px;
	margin-left: 12px;
	display: flex;
	align-items: center;
	padding-right: 0;
}

.sort-down {
	display: block;
	width: 20px;
	height: 18px;
	margin-top: 2px;
	background: url(../images/sort-down.png) no-repeat;
	border-right: 1px dashed #9bb3d2;
	background-position: center center;
	cursor: pointer;
	margin-left: 5px;
}

.sort-up {
	display: block;
	width: 20px;
	margin-top: -2px;
	height: 18px;
	cursor: pointer;
	background: url(../images/sort-up.png) no-repeat;
	background-position: center center;
}

.result-item {
	border-radius: 5px;
	width: 100%;
	padding: 11px 9px 11px 11px;
	margin-top: 5px;
	display: flex;
}

.result-image {
	overflow: hidden;
	width: 170px;
	height: 161px;
	position: relative;
}

.result-image img {
    position: absolute;
    margin: auto;
    min-height: 100%;
    min-width: 100%;
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;
    z-index: 1;
}

.result-badge {
	text-transform: uppercase;
    z-index: 99;
    color: #3b83b8;
    background: #fff;
    border: 1px solid #3b83b8;
    border-radius: 5px 0 5px 0;
    padding: 8px 12px;
    font-weight: bold;
    margin-top: 12px;
	margin-left: -6px;
    font-size: 14px;
    position: absolute;
}

.result-badge:after {
    content: "";
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 5px 8px 0;
    border-color: transparent #4078c5 transparent transparent;
    left: 0;
    top: 32px;
}

.result-right {
	width: 100%;
	padding-left: 9px;
	position: relative;
}

.result-item-header {
	display: flex;
	justify-content: space-between;
	border-bottom: 2px solid #8d7b16;
	padding-bottom: 5px;
}

.result-item-left {
	
}

.result-item-name {
	display: block;
	color: #000;
	font-size: 17px;
	font-weight: bold;
}

.result-item-name span {
	color: #528fb8;
	font-size: 14px;
	font-weight: normal;
}

.result-item-place {
	margin-top: 5px;
	display: block;
	color: #8d7b16;
	font-size: 14px;
}

.result-item-right {
	text-align: right;
}

.result-item-price {
	color: #000;
	font-size: 14px;
}

.result-item-price strong {
	color: #e65c08;
	font-size: 16px;
	text-align: right;
}

.result-item-through {
	text-align: right;
	margin-top: 5px;
	color: #949292;
	font-size: 14px;
	text-decoration: line-through;
}

.result-item-tags {
	margin-top: 5px;
	display: flex;
	align-items: center;
}

.result-item-tags span {
	display: block;
}

.result-item-text {
	font-size: 13px;
	color: #000;
	margin-top: 10px;
}

.result-item-buttons {
	width: calc(100% - 7px);
	height: 41px;
	border-radius: 3px;
	border: 1px solid #8d7b16;
	background: #f9f0c1;
	position: absolute;
	bottom: 0;
	display: flex;
	justify-content: space-around;
	padding: 6px; 0;
	align-items: center;
}

.result-item-buttons a {
	font-size: 14px;
	color: #000;
	text-decoration: none;
	border-left: 1px solid #8d7b16;
	text-align: center;
	flex: 1;
	position: relative;
}

.result-item-buttons a:first-of-type {
	border-left: 0;
}

.result-item-buttons a:hover {
	color: #e64408;
	text-decoration: none;
}

.result-btn-more:before {
	content: "";
	display: inline-block;
	width: 16px;
	height: 17px;
	position: absolute;
	margin-left: 0;
	margin-top: 2px;
	background: transparent url(../images/more_icon.png) no-repeat;
}

.result-btn-map:before {
	background: transparent url(../images/map_icon.png) no-repeat;
	content: "";
	display: inline-block;
	width: 9px;
	height: 14px;
	position: absolute;
	margin-top: 3px;
	margin-left: -6px;
}

.result-btn-phone:before {
	background: transparent url(../images/phone_icon.png) no-repeat;
	content: "";
	display: inline-block;
	width: 14px;
	height: 20px;
	position: absolute;
	margin-left: -2px;
}

.result-btn-favorite:before {
	background: transparent url(../images/favorite_icon.png) no-repeat;
	content: "";
	display: inline-block;
	width: 19px;
	height: 17px;
	position: absolute;
	margin-top: 2px;
	margin-left: -8px;
}

.result-specs {
	z-index: 99;
	width: 100%;
	height: 26px;
	background: rgba(0, 0, 0, 0.7);
	position: absolute;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 5px;
	color: #fff;
	font-size: 13px; 
}

.result-specs .pred-rate {
	margin-top: -3px;
	font-size: 17px;
}

.result-comments {
	background: transparent url(../images/comments_icon.png) no-repeat;
	height: 26px;
	min-width: 24px;
	display: flex;
	align-items: center;
	background-position: center left;
}

.result-comments span {
	margin-left: 23px;
}

.result-views {
	background: transparent url(../images/views_icon.png) no-repeat;
	height: 26px;
	min-width: 24px;
	display: flex;
	align-items: center;
	background-position: center left;
}

.result-views span {
	margin-left: 17px;
}

.result-left-eye {
	position: absolute;
	display: block;
	left: 0;
	width: 18px;
	height: 33px;
	top: 3px;
	background: transparent url(../images/left_eye.png) no-repeat;
}

.result-right-eye {
	position: absolute;
	display: block;
	right: 0;
	width: 18px;
	height: 33px;
	top: 3px;
	background: transparent url(../images/right_eye.png) no-repeat;
}

.result-items hr {
	background-color: #d5d5d5;
	border: none;
	height: 2px;
	margin: 10px 2px;
}

.result-show-more {
	display: block;
	text-align: right;
	font-size: 15px;
	margin-top: -5px;
	margin-bottom: 5px;
	margin-right: 5px;
}

.main-block a {
    color: #1069a1;
    text-decoration: underline;
    cursor: pointer;
}

.flex-row {
	display: flex;
}

.flex-row > div {
	flex: 1;
	margin-left: 10px;
}

.flex-row > div:first-of-type {
	margin-left: 0;
}

.flex-row > div select {
	min-width: 100%;
	max-width: 100%;
}

.main-block form img {
	margin-top: 10px;
}