.menu-register-container {

    input[type=checkbox] {
        display: none;
    }

    .reg-checkbox-label {
        display: inline;

        a {
            font-size: 12px;
            text-decoration: underline;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}
