.button {
    margin-left: 10px;
    width: 130px;
    height: 30px;
    text-align: center;
    border: none;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    border-radius: 3px;
    background: linear-gradient(to bottom, #7cbaea 0, #488dc2 99%);
    cursor: pointer;

    &:hover {
        color: #fff;
    }
}
