@import "legacy";

@import "header";

@import "helpers/button";

@import "plugins/popup";
@import "plugins/toastr";
@import "widgets/AdvancedSearch";
@import "widgets/Advertise";
@import "widgets/InterestingServices";
@import "widgets/RecentArticles";
@import "widgets/RecentServices";
@import "widgets/SimpleSearch";
@import "widgets/SpecialServices";
@import "widgets/YandexWeather";

@import "company/contacts";

@import "service/list";
@import "service/list_item";
@import "service/map";
@import "service/view";

@import "user/register";

.help-block {
    margin-bottom: 0px;
}

.geo-location-update-dialog  {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -200px;
    margin-top: -102px;
    width: 400px;
    height: 280px;
    overflow: hidden;
}

.dark-tooltip .darktooltip-yes{
    text-align: center;
    border: none;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    border-radius: 3px;
    background: linear-gradient(to bottom, #7cbaea 0, #488dc2 99%);
    cursor: pointer;

    &:active {
        background: linear-gradient(to top, #7cbaea 0, #488dc2 99%);
    }
}

.dark-tooltip .darktooltip-no{
    text-align: center;
    border: none;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    border-radius: 3px;
    background: linear-gradient(to bottom, #7cbaea 0, #488dc2 99%);
    cursor: pointer;

    &:active {
        background: linear-gradient(to top, #7cbaea 0, #488dc2 99%);
    }
}