header {
	width: 100%;
	background-repeat: no-repeat;
	height: 325px;
	background-position: center;


    .header-text {
        margin-top: 32px;
        text-align: center;
        position: relative;
        z-index: 102;
    
        .header-text-up {
            color: #fff;
            text-transform: uppercase;
            font-size: 60px;
            margin-bottom: 7px;
            position: relative;
        
            a {
                color: #fff;
                text-decoration: none;
                letter-spacing: 3px;
            }

            .header-place {
                display: none;
            }
        }

        .header-text-down {
            display: inline-block;
            color: #fbe467;
            font-size: 23px;
            padding: 11px 18px;
            background: rgba(0, 0, 0, 0.5);
            border-radius: 5px;
            text-align: center;
        }
    }

    .video {
        position: absolute;
        width: 100%;
        overflow-y: hidden;
        overflow-x: hidden;

        img {
            min-width: 100%;
            min-height: 100%;
        }
    }

    &.frontpage {
        height: 450px;

        
                .video {
            height: 450px;
        }

        .header-text {
            margin-top: 175px;

            .header-text-up {

                .header-place {
                    display: inline;
                }
            }
        }
        
        .advanced-search {
            top: 475px;
        }
    }


    nav {

        .menu-left{
            margin-top: 0px;            
        }

        .menu-item {
            margin: 0;
           // padding: 8px 8px 0 8px; 
           // height: 37px;
            position: relative;
            text-align: center;
            display: block;
            cursor: pointer;
            white-space: nowrap;
            word-wrap: normal;

            &.menu-parent {

                > a {
                    padding-right: 15px;
                }
            }
            
            &:hover {

                .fa {
                    visibility: visible;
                }
            }

            .fa {
                color: #4fa5e8;
                font-size: 10px;
                visibility: hidden;
                position: absolute;
                top: 0;
                margin-top: 12px;
                margin-left: -12px;
            }

            a {
                height: 39px;
                width: 100%;
                padding: 8px 8px 0px 8px;
                display: inline-block;
                line-height: 21px;

                &:hover {
                    background: rgba(71,172,243,0.25);
                }
            }
        }
    }
}

header nav .menu-dropdown {
	position: absolute;
	left: -9999px;
	margin: 0;
	display: flex;
	flex-direction: column;
	background: rgba(0, 0, 0, 0.5);
	border-radius: 0 0 3px 3px;
	top: 37px;
	padding: 0;
	border: 1px solid #7cbaea;        
}

header nav .menu-item:hover .menu-dropdown {
	left: 0;
}

header nav .menu-dropdown .menu-item {
//	padding: 10px 17px 10px 7px;

    a {
        height: 37px;
    }
	line-height: 15px;
	text-align: left;
	white-space: nowrap;
}

header nav .menu-dropdown .menu-item:not(:first-of-type) {
	border-top: 1px solid #4fa5e8;
}
