@font-face {
    font-family: "Fregat";
    src: url(../fonts/Fregat_regular.otf);
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: "Fregat";
    src: url(../fonts/Fregat_bold.otf);
	font-weight: bold;
	font-style: normal;
}

@font-face {
    font-family: "Fregat";
    src: url(../fonts/Fregat_italic.otf);
	font-weight: normal;
	font-style: italic;
}

@font-face {
    font-family: "Fregat";
    src: url(../fonts/Fregat_bold_italic.otf);
	font-weight: bold;
	font-style: italic;
}

::-webkit-input-placeholder {
	color: #000;
	font-size: 14px;
	font-family: "Fregat";
}

::-moz-placeholder {
	color: #000;
	font-size: 14px;
	font-family: "Fregat";
}

:-moz-placeholder {
	color: #000;
	font-size: 14px;
	font-family: "Fregat";
}

:-ms-input-placeholder  {
	color: #000;
	font-size: 14px;
	font-family: "Fregat";
}

* {
	box-sizing: border-box;
}

@media only screen and (max-width: 1140px) {
	body {
		overflow-x: scroll!important;
	}
}

body {
	font-family: "Fregat"!important;
	overflow-x: hidden;
	overflow-y: auto;
	margin: 0;
	min-width: 1034px;
	background: #e9f2f3;
    line-height: normal;
}

main {
	width: 1021px;
	margin: 0 auto;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
}

.main-block p {
	padding: 0 5px;
}



article {
	align-self: stretch;
	width: 100%;
	max-width: 772px;
}

aside {
	min-width: 244px;
	max-width: 244px;
	margin-left: 5px;
}

footer {
	width: 100%;
	height: 92px;
	background: #1d1e21;
	margin-top: 13px;
	position: relative;
	z-index: 102;
}

.footer-content {
	width: 1021px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 92px;
	margin: 0 auto;
}

.footer-block:first-of-type {
	padding-left: 0;
}

.do-show {
	display: none;
}

.footer-block {
	color: #797575;
	font-size: 14px;
}

.footer-separator {
	width: 1px;
	height: 25px;
	background: #797575;
    margin-top: -10px;
}

.social-share {
	display: inline-block;
	width: 36px;
	height: 34px;
	cursor: pointer;
	background-position: top left;
}

footer .social-share {
	margin-left: 15px;
}

footer .social-share:first-of-type {
	margin-left: 0;
}

.share-GP {
	background: url(../images/bG+.png);
}

.share-VK {
	background: url(../images/bVK.png);
}

.share-TW {
	background: url(../images/bTw.png);
}

.share-FB {
	background: url(../images/bFB.png);
}

.share-OK {
	background: url(../images/bOK.png);
}

.share-RSA {
	background: url(../images/bRSA.png);
}

.main-block {
	border: 1px solid #b5b5b5;
	border-radius: 5px;
	background: #fff;
	margin: 0 auto;
	margin-top: 13px;
	padding: 7px 10px;
	width: 100%;
    padding-top: 0px;
}

article .main-block {
	padding: 10px 10px;
    padding-top: 0px;
}

aside .main-block h2 {
	text-align: left;
	padding-left: 10px;
}

.main-block h2 {
	text-transform: uppercase;
	font-size: 18px;
	color: #1069a1;
	line-height: 0;
	height: 18px;
	border-bottom: 1px solid #b5b5b5;
	margin-bottom: 10px;
}

.adv-controls {
	display: flex;
	justify-content: center;
}

.adv-btn {
	display: block;
	width: 32px;
	height: 7px;
	margin: 9px 3.5px 5px 3.5px;
	background: #b5b5b5;
	border-radius: 3.5px;
	cursor: pointer;
}

.adv-btn:hover {
	background: #4fa5e8;
}

.adv-btn.adv-active {
	background: #4fa5e8;
}

.call-block {
	color: #000;
	font-size: 14px;
}

.call-block input,
.call-block textarea {
	border: 1px solid #4fa5e8;
	padding: 3px 8px;
	display: block;
	margin: 5px 0;
	width: 100%;
	max-width: 100%;
	min-width: 100%;
	height: 30px;
	border-radius: 3px;
}

.call-text {
	width: 100%;
	margin-bottom: 5px;
}

.main-block a {
	color: #1069a1;
	text-decoration: underline;
	cursor: pointer;
}

.main-block a:hover {
	color: #1693e1;
	text-decoration: underline;
}

.call-block button {
	float: right;
	color: #1069a1;
	text-decoration: underline;
	margin: 0;
	padding: 0;
	background-color: transparent;
	border: none;
	display: block;
	cursor: pointer;
}

.call-block button:hover {
	color: #1693e1;
	text-decoration: underline;
}

.the-new-block {
	margin-top: 10px;
}

.the-new-block:last-of-type {
	margin-bottom: 10px;
}

.news-block h3 {
	background-color: #f9dc3d;
	color: #000;
	text-transform: uppercase;
	font-size: 14px;
	padding: 5px;
	border-radius: 5px 0 0 0;
	border-bottom: 1px solid #ad9f55;
	margin: 0;
}

.the-new-content .ndet {
	display: block;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 8px 16px 0;
	border-color: transparent #ad9e55 transparent transparent;
}

.the-new-content {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
}

.the-new-content .ntext {
	background: #fff;
	font-size: 12px;
	color: #000;
	border: 1px solid #cbcbcb;
	padding: 5px;
	border-bottom-right-radius: 5px;
}

.the-new-content .ntext a {
	font-size: 14px;
	float: right;
}

.inter-preds {
	width: 100%;
	position: relative;
}

.control-tabs {
	width: 100%;
	height: 27px;
	border-bottom: 1px solid #4fa5e8;
	
}

.tabs-container  {
	overflow: hidden;
	word-wrap: normal;
	white-space: nowrap;
	width: 100%;
	display: flex;
	border-radius: 5px 5px 0 0;
	background: #e9f2f3;
}

.tabs-container .the-tab:first-of-type:before {
	display: block;
	content: "";
	position: absolute;
	width: 28px;
	height: 28px;
    z-index: -1;
	left: 0;
	bottom: 0;
	background: #e9f2f3;
	transform: skewX(-20deg);
}

.tabs-container .the-tab:first-of-type.tab-active:before{
	display: block;
	content: "";
	position: absolute;
	width: 28px;
	height: 28px;
    z-index: -1;
	left: 0;
	bottom: 0;
	background: #4fa5e8;
	transform: skewX(-20deg);
}

.tabs-container .the-tab:first-of-type {
	border-left: none;
	position: relative;
}

.tabs-container .the-tab {
	display: inline-block;
	background: #e9f2f3;
	height: 26px;
	line-height: 13px;
	text-transform: uppercase;
	font-size: 14px;
	padding: 9px 2px 10px 2px;
	color: #000;
	cursor: pointer;
	word-wrap: normal;
	transform: skewX(20deg);
	border-left: 1px solid #b5b5b5;
	z-index: 1;
}

.tabs-container .the-tab span {
	display: block;
	transform: skewX(-20deg);
	padding: 0 5px;
	z-index: 3;
}

.tabs-container .the-tab:first-of-type {
	margin-left: 0;
}

.tabs-container .the-tab.tab-active {
	background: #4fa5e8;
	color: #fff;
	font-weight: bold;
}

.scroll-box {
	height: 26px;
	background: #e9f2f3;
	position: absolute;
	right: 0;
	padding: 4px;
	border-radius: 3px;
	width: 70px;
	z-index: 100;
	top: 0;
	
	background: -moz-linear-gradient(left, rgba(233,242,243,0) 0%, rgba(233,242,243,1) 40%, rgba(233,242,243,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, rgba(233,242,243,0) 0%,rgba(233,242,243,1) 40%,rgba(233,242,243,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgba(233,242,243,0) 0%,rgba(233,242,243,1) 40%,rgba(233,242,243,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00e9f2f3', endColorstr='#e9f2f3',GradientType=1 ); /* IE6-9 */
}

.scroll-box .scroll-arrows {
	display: flex;
	cursor: pointer;
	float: right;
}

.scroll-left,
.scroll-right {
	color: #4fa5e8;
	background: #ebebeb;
	text-align: center;
}

.scroll-left {
	border-radius: 3px 0 0 3px;
	width: 18px;
	border: 1px solid #b5b5b5;
}

.scroll-disabled {
	color: #b5b5b5;
}

.scroll-right {
	width: 17px;
	border-radius: 0 3px 3px 0;
	border: 1px solid #b5b5b5;
	border-left: none;
}

.empty-tab {
	background: #e9f2f3;
	min-width: 60px;
	color: #e9f2f3;
	display: block;
	height: 1px;
	transform: skewX(20deg);
}

.inter-items {
	display: flex;
	flex-wrap: wrap;
}

.new-item-block .pred-item {
	margin-top: 0;
    margin-left: 7px !important;
}

.pred-item {
	position: relative;
	height: 252px;
	width: 243px !important;
	margin-top: 10px;
	margin-left: 10px !important;
    display: inline-block;
    float: left;
}

.pred-item-addit {
	height: 252px;
	width: 243px;
	background: #f1f6f6;
	position: relative;
	overflow: hidden;
}

.pred-item * {
	z-index: 2;
}

.pred-item > img {
	position: absolute;
	margin: auto; 
	min-height: 100%;
	min-width: 100%;

	left: -100%;
	right: -100%;
	top: -100%;
	bottom: -100%;
	z-index: 1;
}

.pred-badge {
	text-transform: uppercase;
	color: #3b83b8;
	background: #fff;
	border: 1px solid #3b83b8;
	border-radius: 5px 0 5px 0;
	padding: 8px 12px;
	font-weight: bold;
	margin-top: 12px;
	font-size: 14px;
	margin-left: -6px;
	z-index: 99;
	position: absolute;
}

.pred-badge:after {
	content: "";
	position: absolute;
	display: block;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 5px 8px 0;
	border-color: transparent #4078c5 transparent transparent;
	left: 0;
	top: 32px;
}

.pred-addon {
	position: absolute;
	display: block;
	border-radius: 19px;
	width: 38px;
	height: 38px;
	border: 2px solid #fff;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 15px;
	text-align: center;
	padding-top: 10px;
	right: 9px;
	top: 8px;
}

.addon-yellow {
	background: #f9dc3d;	
}

.addon-blue {
	background: #4fa5e8;
    line-height: 14px;
}

.inter-items > .pred-item:nth-child(3n+1) {
	margin-left: 0 !important;
}

.pred-det {
	color: #fff;
	height: 89px;
	background: rgba(0, 0, 0, 0.7);
	text-align: right;
	position: absolute;
	bottom: 0;
	width: 100%;
	font-size: 17px;
	padding: 4px 6px 0 0;
    line-height: 18px;

    a {
        color: #fff;
        text-decoration: none;

        &:hover {
            color: #fff;
        }
    }
}

.pred-det .pred-place {
	font-size: 14px;
	margin-top: 5px;
	background: url(../images/map_icon.png);
	padding-left: 14px;
	background-repeat: no-repeat;
	display: block;
	position: absolute;
	right: 10px;
	height: 14px;
}

.pred-rate {
	display: block;
	margin-top: 4px;
	margin-right: 3px;
}

.pred-rate span {
	color: #dfd9d9;
	cursor: pointer;
}

.pred-rate span.pred-voted {
	color: #fad403;
}

.pred-price {
	font-size: 15px;
	margin-top: 4px;
	padding-right: 5px;
}

.pred-price strong {
	color: #e65c08;
}

.pred-tags {
	position: absolute;
	left: 10px;
	bottom: 7px;

    img {
        display: inline-block;
    }
}

.new-item-block {
	display: block;
	/*flex-wrap: wrap;*/
}
.item-tag {
	background-repeat: no-repeat;
	background-position: center bottom;
	display: inline-block;
//	width: 24px;
	height: 21px;
}

input[type=text],
input[type=password] {
	font-size: 14px;
	font-family: "Fregat"!important;
	color: #000;
	height: 23px;
	padding: 0 8px;
	border-radius: 3px;
	border: 1px solid #4fa5e8;
}

textarea {
    border: 1px solid #4fa5e8 !important;
}

input:focus {
	outline: 0;
}

header nav {
	width: 100%;
	height: 39px;
	border-top: 1px solid #4fa5e8;
	border-bottom: 1px solid #4fa5e8;
	background: rgba(0, 0, 0, 0.5);
	
	z-index: 1000;
	position: relative;
}

header nav .nav-container {
	height: 39px;
	margin: 0 auto;
	width: 1021px;
	z-index: 1000;
	position: relative;
	
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header nav .menu {
	height: 39px;
	margin: 0;
	padding: 0;
	position: relative;
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
}

header nav .menu-parent:hover {
	background: transparent!important;
}



header nav .menu-group {
	padding: 0;
	text-align: right;
	width: 100%;
	font-size: 14px;
	color: #fff;
	display: inline;
    margin-top: -3px;
}

header nav .menu-group a{
	cursor: pointer;
}

header nav .menu-group a:hover {
	text-decoration: underline;
}

header nav .menu-left {
	flex: 2;
	min-width: 620px;
    margin-top: 3px;
}

header nav .menu a:hover{
    color: #fff;
    text-decoration: none;
}

header nav .menu-center form {
	width: 100%;
	height: 100%;
    padding-top: 6px;
}

header nav .menu-center {
	flex: 2;
}

header nav .menu-right {
	flex: 1;
}

header nav .menu-right a:hover{
    color: #fff;
}

header nav a {
	font-size: 14px;
	color: #fff;
	text-decoration: none;
}

header nav .search-box {
	margin: 0 auto;
	text-align: center;
	width: 252px;
	height: 25px;
	border: 1px solid #4fa5e8;
	border-radius: 3px;
	display: flex;
}

header nav .search-input {
	font-size: 14px;
	width: 225px;
	color: #000;
	height: 23px;
	padding: 0 8px;
	border-radius: 3px 0 0 3px;
	border: none;
}

header nav .search-btn {
	border: none;
	border-left: 1PX solid #4ac1d1;
	cursor: pointer;
	display: block;
	width: 27px;
	height: 23px;
	background: #efeee9;
	color: #4ac1d1;
	border-radius: 0 3px 3px 0;
}

header nav .search-btn:hover {
	color: #a6dade;
}


header nav .menu-auth-box {
	color: #fff;
	display: none;
	font-size: 12px;
	line-height: initial;
	position: absolute;
	left: 0;
	top: 40px;
	margin-left: -70px;
	width: 204px;
	padding: 8px;
	background: rgba(0, 0, 0, 0.5);
	border: 1px solid #7cbaea;
	border-radius: 3px;
}

header nav {

    label {
        margin-bottom: 0px;
    }

    .password-box {
	    width: 188px;
    //	height: 25px;
    //	border: 1px solid #4fa5e8;
	    border-radius: 3px;
    	display: flex;
//      margin-bottom: 10px;

        input {
            border: 1px solid #4fa5e8;
            border-right: 0px;
        }

        .password-btn {
            border: 1px solid #4fa5e8;
            border-left: 0px;
        }
    }

    .password-input {
        font-size: 14px;    
        width: 161px;
        color: #000;
        height: 23px;
        padding: 0 8px;
        border-radius: 3px 0 0 3px;
        border: none;
    }

    .login-input {
        width: 188px;
        height: 25px;
        border: 1px solid #4fa5e8;
        border-radius: 3px;
        font-size: 14px;
        color: #000;
        padding: 0 8px; 
    }

    .password-btn:hover {
        color: #a6dade;
    }

    .help-block {
        margin-top: 5px;
        margin-bottom: 5px;
        color: red !important;
    }

    .addit-box {

        .addit-question {
            margin-top: -5px;
        }
    }
}




header nav .password-btn {
	border: none;
	cursor: pointer;
	display: block;
	width: 27px;
	height: 23px;
	background: #fff;
	color: #4ac1d1;
	border-radius: 0 3px 3px 0;
}


header nav .form-group.has-error .help-block {
    display: block;
}



header nav .addit-box .addit-left {
	float: left;
	line-height: 8px;
}

header nav .addit-box .addit-right {
	height: 31px;
	padding-top: 2px;
}

header nav .addit-checkbox {
	float: left;
	margin-left: 0;
    display: none;
}

header nav .addit-checkbox-label {
	display: block;
	padding-top: 1px;
	padding-left: 20px;
}

header nav .addit-question .fa {
	font-size: 14px;
	font-weight: 300;
	float: left;
	color: #4fa5e8;
	border: 1px solid #4fa5e8;
	border-radius: 7px;
	display: block;
	width: 15px;
	height: 15px;
	padding-left: 4px;
	position: absolute;
}

header nav .addit-question a {
	display: block;
	padding-top: 4px;
	font-size: 12px;
	padding-left: 20px;
	white-space: nowrap;
	
}

header nav .addit-question a:hover {
	text-decoration: underline;
}

header nav .addit-right button {
	float: right;
	vertical-align: middle;
	width: 73px;
	height: 35px;
	background: linear-gradient(to bottom, #7cbaea 0%,#488dc2 99%);
	border: none;
	color: #fff;
	font-weight: bold;
	border-radius: 3px;
	font-size: 12px;
	cursor: pointer;
}

header nav .addit-right button:active {
	background: linear-gradient(to top, #7cbaea 0%,#488dc2 99%);
}

header nav .auth-separator {
	margin-top: 18px;
	width: 100%;
	height: 1px;
	background: #4fa5e8;
}

header nav .social-box {
	text-align: center;
	margin-top: 10px;
    margin-bottom: -20px;
}

header nav .social-box .social-icons {
	display: flex;
	justify-content: center;
}

header nav .social-box .social-icons a {
	width: 31px;
	display: block;
	cursor: pointer;
	height: 29px;
	margin: 8px 1px;
}

header nav .social-icons .social-gp {
	background: url(../images/G+.png);
}

header nav .social-icons .social-vk {
	background: url(../images/VK.png);
}

header nav .social-icons .social-ok {
	background: url(../images/OK.png);
}

header nav .social-icons .social-fb {
	background: url(../images/FB.png);
}

header nav .reg-checkbox {
	float: left;
	margin-left: 0;
}

header nav .reg-checkbox-label {
	display: block;
	padding-top: 1px;
	padding-left: 20px;
}

header nav .reg-btn {
	float: right;
	vertical-align: middle;
	width: 100%;
	height: 31px;
	background: linear-gradient(to bottom, #7cbaea 0%,#488dc2 99%);
	border: none;
	color: #fff;
	font-weight: bold;
	border-radius: 3px;
	font-size: 12px;
	cursor: pointer;
	margin-top: 10px;
}

header nav .reg-btn:active {
	background: linear-gradient(to top, #7cbaea 0%,#488dc2 99%);
}


header .search-engine-box {
	position: relative;
	z-index: 102;
	border: 10px solid rgba(255, 255, 255, 0.4);
	background: rgba(255, 255, 255, 0.4);
	background-clip: content-box; 
	border-radius: 5px;
	width: 1021px;;
	height: 103px;
	margin: 0 auto;
	margin-top: 5px;
}

header .search-engine-small {
	border: 1px solid #4fa5e8;
	background: #f9dc3d;
	border-radius: 5px;
	width: 100%;
	height: 100%;
	padding: 17px 24px;
}

#search-form {
	display: flex;
}

#search-form .select-container {
	position: relative;
	margin-right: 15px;
}

#search-form .select-container .select-showall {
	cursor: pointer;
	background: url(../images/caret-down.png);
	color: #4fa5e8;
	left: 375px;
	top: 12px;
	width: 10px;
	height: 8px;
	position: absolute;
}

#search-form .select-addit {
	cursor: pointer;
	position: absolute;
	color: #1069a1;
	text-transform: uppercase;
	padding: 4px 0;
	border: 1px solid #25afee;
	border-radius: 3px;
	background: #83c0ef;
	font-size: 14px;
	font-weight: bold;
	left: 180px;
	top: 3px;
	height: 24px;
	display: block;
	width: 54px;
	text-align: center;
	position: absolute;
}

#search-form .select-addit:hover {
	background: #cae4f8;	
}

#search-form .select-select {
	width: 396px;
	display: block;
	height: 30px;
	background: #fff;
	border: 1px solid #4fa5e8;
	border-radius: 3px;
	cursor: text;
	padding: 0 8px;
	font-size: 14px;
	font-family: "Fregat"!important;
}

.ui-autocomplete {
	max-height: 150px;
	overflow-x: hidden;
	overflow-y: auto;
	z-index: 102;
}

.ui-autocomplete .ui-menu-item {
	font-size: 14px;
	font-family: "Fregat"!important;
	color: #000;
}

.select-addit-box {
	list-style: none;
	padding: 10px;
	margin: 0;
	border: 1px solid #aaa;
	width: 254px;
	position: absolute;
	background: #fff;
	z-index: 100000;
}

.select-addit-item:first-of-type {
	margin-top: 0;
}

.select-addit-item {
	display: flex;
	margin-top: 10px;
}

.select-addit-item,
.select-addit-item label,
.select-addit-item input {
	cursor: pointer;
}

.select-addit-item label{
	display: block;
	padding-top: 1px;
	font-size: 14px;
	font-family: "Fregat"!important;
	color: #000;
}

#tour_place, #tour_type {
	width: 229px;
}

#search-form .input-container {
	position: relative;
}

#search-form .input-container input {
	height: 30px;
	width: 146px;
}

.ui-datepicker {
	font-size: 14px;
	font-family: Fregat!important;
}

#link_days {
	width: 55px;
}

#search-form .input-container button.ui-datepicker-trigger {
	position: absolute;
	cursor: pointer;
	color: #333;
	top: 1px;
	font-size: 22px;
	left: 113px;
	border: none;
	font-weight: normal;
	background: transparent;
	outline: none;
}

#search-form .input-container button.ui-datepicker-trigger:hover {
	color: #777;
}

select {
	min-width: 47px;
	height: 30px;
	background: #fff url(../images/caret-down.png) no-repeat;
	background-position: calc(100% - 7px) calc(50% + 1px);
	border: 1px solid #4fa5e8;
	border-radius: 3px;
	color: #000;
	font-size: 14px;
	cursor: pointer;
	-webkit-appearance: none;
	padding-left: 8px;
}

.simple-select {
	margin-left: 23px;
}

.kid-icon {
	position: absolute;
	display: block;
	width: 10px;
	height: 16px;
	margin-top: 11px;
	margin-left: 9px;
	background: url(../images/kid_icon.png) no-repeat;
}

.adult-icon {
	position: absolute;
	display: block;
	width: 10px;
	margin-left: 7px;
	height: 28px;
	margin-top: 1px;
	background: url(../images/adult_icon.png) no-repeat;
}

header button, article button {
	text-align: center;
	border: none;
	color: #fff;
	font-size: 13px;
	font-weight: bold;
	border-radius: 3px;
	background: linear-gradient(to bottom, #7cbaea 0%,#488dc2 99%);
	cursor: pointer;
}

header button:active, article button:active {
	background: linear-gradient(to top, #7cbaea 0%,#488dc2 99%);
}

#search-send {
	width: 130px;
	height: 31px
}

.search-tool {
/*	margin-left: 12px;*/
	height: 50px;
}

.show-advanced {
	color: #000;
	text-decoration: underline;
	font-size: 14.70px;
	position: absolute;
	cursor: pointer;
	margin-top: 3px;
	margin-left: 0px;
}

.show-advanced:hover {
	color: #e65c08;
	text-decoration: underline;
}

.layer-gray {
	background: rgba(0, 0, 0, 0.85);
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 101;
}

.advanced-search {
	width: 791px;
	position: absolute;
	min-height: 100px;
	background: #fff;
	border-radius: 0 0 5px 5px;
	border: 2px solid #4fa5e8;
	border-top: none;
	margin: 40px 0 0 calc(50% - 791px / 2);
	z-index: 101;
	
}

.advanced-search:before {
	display: block;
	position: absolute;
	margin-top: -30px;
	margin-left: -2px;
	content: "Расширенный поиск";
	width: 791px;
	text-transform: uppercase;
	height: 30px;
	background: url(../images/top-modal.png);
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	padding-top: 2px;
	background-repeat: no-repeat;
}

.advanced-tab-box {
	display: flex;
	flex-wrap: wrap;
	padding: 15px 25px;
	padding-bottom: 0;
	border-bottom: 2px solid #f9dc3d;
}

.advanced-tab {
	border: 1px solid #8d7b16;
	border-bottom: none;
	border-radius: 3px 3px 0 0;
	background: #f9f0c1;
	height: 29px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
	flex-grow: 1;
	margin-left: -1px;
}

.advanced-tab.active-advanced-tab {
	background: #f9dc3d;
}

.advanced-title {
	padding: 0 15px;
	font-size: 16px;
}

.advanced-close {
	background: rgba(0, 0, 0, 0.25) url(../images/tab-close.png) no-repeat;
	width: 28px;
	height: 28px;
	background-position: center center;
	border-left: 1px solid #8d7b16;
	border-radius: 0 3px 0 0;
}

.advanced-wnd-box {
	background: #f2f1ef;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: flex-start;
	padding: 6px 0 16px 24px;
}

.advanced-wnd {
	width: 176px;
	margin-left: 7px;
	margin-top: 10px;
}

.advanced-wnd:nth-of-type(4n+1) {
	margin-left: 0;
}

.advanced-wnd-title {
	text-align: center;
	background: #83c0ef;
	font-size: 15px;
	font-weight: bold;
	width: 100%;
	border-radius: 3px 3px 0 0;
	color: #1069a1;
	border: 1px solid #4fa5e8;
	padding: 6px 0;
}

.advanced-scrollbox{
	border: 1px solid #4fa5e8;
	border-radius: 0 0 3px 3px;
	border-top: none;
	background: #fff;
	padding: 9px 6px 9px 6px;
	max-height: 120px;
	min-height: 120px;
	overflow-y: auto;
	overflow-x: hidden;
	
}

.advanced-input-group {
	display: flex;
	align-items: center;
	margin-top: 7px;
} 

.advanced-input-group:first-of-type {
	margin-top: 0;
}

.advanced-scrollbox input {
	display: block;
	cursor: pointer;
}

.advanced-scrollbox label {
	cursor: pointer;
	display: block;
	font-size: 13px;
	margin-left: 3px;
}

.advanced-footer {
	background: #fff;
	width: 100%;
	border-top: 1px solid #f9dc3d;
	height: 62px;
}

.advanced-footer {
	display: flex;
	justify-content: space-between;
	padding: 15px 15px 15px 5px;
	border-radius: 3px;
}

.advanced-left {
	display: flex;
}

.advanced-right {
	display: flex;
}

.advanced-footer button {
	margin-left: 10px;
	width: 130px;
	height: 30px;
}

.advanced-scrollbox::-webkit-scrollbar {
    width: 13px;
	height: 50%;
	cursor: pointer;
}
 
.advanced-scrollbox::-webkit-scrollbar-track {
	background: #83c0ef;
}
 
.advanced-scrollbox::-webkit-scrollbar-thumb {
    background: #f9dc3d;  
}

.advanced-scrollbox::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,0,0,0.4); 
}

.modal-group-1 {
	display: none;
}

input[type=checkbox] + label {
	padding-left: 20px;
    height: 15px;
    line-height: 15px;
    background-repeat: no-repeat;
	cursor: pointer;
    background-position: 0 0;
	background-image: url(../images/checkbox_states.png);
}

input[type=checkbox]:checked + label {
    background-position: 0 -15px;
}

input[type=checkbox] {
/*	width: 0; */
	margin: 0;
}

.header-place {
    cursor: pointer;
	margin-top: -30px;
	font-size: 13px;
	margin-left: 5px;
	color: #fbe467;
	padding: 9px 8px 8px 20px;
	background: rgba(0, 0, 0, 0.5) url(../images/map_icon.png) no-repeat;
	background-position: 6px center;
	text-transform: none;
	display: inline;
	position: absolute;
	border-radius: 4px;
	z-index: 98;
}

.result-box {
	position: relative;
	width: 100%;
}

.result-sort {
	color: #1069a1;
	display: flex;
	width: 100%;
	justify-content: flex-end;
	align-items: center;
	background: #fff;
	height: 50px;
	font-size: 14px;
	margin-top: 3px;
}

.result-sort span {
	display: block;
	padding: 0 10px;
}

.result-sort div {
	background: #e9f2f3;
	border-radius: 5px;
	padding: 5px 11px;
	margin-left: 12px;
	display: flex;
	align-items: center;
	padding-right: 0;
}

.sort-down {
	display: block;
	width: 20px;
	height: 18px;
	margin-top: 2px;
	background: url(../images/sort-down.png) no-repeat;
	border-right: 1px dashed #9bb3d2;
	background-position: center center;
	cursor: pointer;
	margin-left: 5px;
}

.sort-up {
	display: block;
	width: 20px;
	margin-top: -2px;
	height: 18px;
	cursor: pointer;
	background: url(../images/sort-up.png) no-repeat;
	background-position: center center;
}

.result-item {
	background: #f9f6e9;
	border: 2px solid #d5d5d5;
	border-radius: 5px;
	width: 100%;
	padding: 10px 9px 10px 10px;
	margin-top: 5px;
	display: flex;
}

.result-image {
	overflow: hidden;
	width: 170px;
	height: 161px;
	position: relative;
}

.result-image img {
    position: absolute;
    margin: auto;
    min-height: 100%;
    min-width: 100%;
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;
    z-index: 1;
}

.result-badge {
	text-transform: uppercase;
    z-index: 99;
    color: #3b83b8;
    background: #fff;
    border: 1px solid #3b83b8;
    border-radius: 5px 0 5px 0;
    padding: 8px 12px;
    font-weight: bold;
    margin-top: 12px;
	margin-left: -6px;
    font-size: 14px;
    position: absolute;
}

.result-badge:after {
    content: "";
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 5px 8px 0;
    border-color: transparent #4078c5 transparent transparent;
    left: 0;
    top: 32px;
}

.result-right {
	width: 100%;
	padding-left: 9px;
	position: relative;
}

.result-item-header {
	display: flex;
	justify-content: space-between;
	border-bottom: 2px solid #8d7b16;
	padding-bottom: 5px;
}

.result-item-left {
	
}

.result-item-name {
	display: block;
	color: #000;
	font-size: 17px;
	font-weight: bold;
}

.result-item-name span {
	color: #528fb8;
	font-size: 14px;
	font-weight: normal;
}

.result-item-place {
	margin-top: 5px;
	display: block;
	color: #8d7b16;
	font-size: 14px;
}

.result-item-right {
	text-align: right;
}

.result-item-price {
	color: #000;
	font-size: 14px;
}

.result-item-price strong {
	color: #e65c08;
	font-size: 16px;
	text-align: right;
}

.result-item-through {
	text-align: right;
	margin-top: 5px;
	color: #949292;
	font-size: 14px;
	text-decoration: line-through;
}

.result-item-tags {
	margin-top: 5px;
	display: block;
    margin-bottom: 5px;
    height: 66px;

    img {
        margin-bottom: 5px;
    }
}

.result-item-tags span {
	display: block;
	cursor: pointer;
}

.result-item-text {
	font-size: 13px;
	color: #000;
	margin-top: 10px;
}



.result-specs {
	z-index: 99;
	width: 100%;
	height: 26px;
	background: rgba(0, 0, 0, 0.7);
	position: absolute;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 5px;
	color: #fff;
	font-size: 13px; 
}

.result-specs .pred-rate {
	margin-top: -3px;
	font-size: 17px;
}

.result-comments {
	background: transparent url(../images/comments_icon.png) no-repeat;
	height: 26px;
	min-width: 24px;
	display: flex;
	align-items: center;
	background-position: center left;
}

.result-comments span {
	margin-left: 23px;
}

.result-views {
	background: transparent url(../images/views_icon.png) no-repeat;
	height: 26px;
	min-width: 24px;
	display: flex;
	align-items: center;
	background-position: center left;
}

.result-views span {
	margin-left: 17px;
}

.result-left-eye {
	position: absolute;
	display: block;
	left: 0;
	width: 18px;
	height: 33px;
	top: 3px;
	background: transparent url(../images/left_eye.png) no-repeat;
}

.result-right-eye {
	position: absolute;
	display: block;
	right: 0;
	width: 18px;
	height: 33px;
	top: 3px;
	background: transparent url(../images/right_eye.png) no-repeat;
}

.result-box hr {
	background-color: #d5d5d5;
	border: none;
	height: 2px;
	margin: 10px 0;
}

.result-show-more {
	display: block;
	text-align: right;
	font-size: 15px;
	margin-top: -5px;
	margin-bottom: 5px;
}

.detail-header {
	display: flex;
	justify-content: space-between;
}

.detail-header .result-item-name {
	font-size: 19px;
}

.detail-header .result-item-place {
	margin-left: 1px;
}

.detail-media {
	margin-top: 7px;
	display: flex;
	justify-content: space-between;
}

.detail-left {
	position: relative;
}

.detail-padding {
	//padding: 0 7px;
}

.detail-image {
	position: relative;
	overflow: hidden;
	height: 311px;
	max-width: 602px;
	min-width: 602px;
}

.detail-image img {
/*    
	position: absolute;
	margin: auto; 
	min-height: 100%;
	min-width: 100%;
*/    
    width: 602px !important;
    height: 311px;
/*
	left: -100%;
	right: -100%;
	top: -100%;
	bottom: -100%;
*/
	z-index: 1;
}

.detail-right {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
}

.detail-menuitem:first-of-type {
	margin-top: 0;
}

.detail-menuitem {
	border: 1px solid #8d7b16;
	border-radius: 5px;
	background-color: #f9f0c1;
	display: flex;
	align-items: center;
	padding-left: 37px;
	font-weight: bold;
	font-size: 16px;
	width: 139px;
	height: 60px;
	margin-top: 3px;
	cursor: pointer;
}

.detail-menuitem:hover {
	color: #e64408;
}

.menuitem-contacts {
	background: #f9f0c1 url(../images/contact_icon.png) no-repeat;
	background-position: 10px 19px;
}

.menuitem-onmap {
	background: #f9f0c1 url(../images/onmap_icon.png) no-repeat;
	background-position: 9px 17px;
}

.menuitem-print {
	background: #f9f0c1 url(../images/print_icon.png) no-repeat;
	background-position: 9px 17px;
}

.menuitem-favorite {
	background: #f9f0c1 url(../images/favorite_icon.png) no-repeat;
	background-position: 10px 22px;
}

.menuitem-addit {
	background: #f9f0c1 url(../images/service_icon.png) no-repeat;
	background-position: 10px 17px;
}

.detail-padding > hr {
	background-color: #8d7b16;
	border: none;
	height: 1px;
	margin: 5px 0;
}

.detail-tags {
	margin-top: 5px;
}

.detail-text {
	padding-top: 5px;
    margin-bottom: 30px;
}

.detail-text p {
	font-size: 14px;
	padding: 0;
}

.detail-comments > span {
	font-size: 18px;
}

.detail-comment:first-of-type {
	margin-top: 5px;
	border-top: 1px solid #4fa5e8;
}

.detail-comment {
	padding: 5px 15px 10px 15px;
	border-bottom: 1px solid #4fa5e8;
}

.detail-comment-header {
	font-size: 15px;
}

.detail-comment-header > span {
	font-size: 15px;
	color: #1069a1;
	font-weight: bold;
}

.detail-comment-header .pred-rate {
	display: inline-block;
	margin-left: 5px;
	font-size: 14px;
}

.detail-comment-text {
	margin-top: 5px;
	font-size: 14px;
}

.detail-comments .result-show-more {
	display: block;
	margin-top: 10px;
}

.detail-send strong {
	font-size: 15px;
}

.detail-send textarea {
	display: block;
    border: 1px solid #4fa5e8;
    padding: 3px 8px;
    display: block;
    margin: 5px 0;
	margin-top: 10px;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    height: 30px;
    border-radius: 3px;
}

.detail-send label,
.detail-send input {
	cursor: pointer;
}

.detail-send input {
	cursor: pointer;
	margin-left: 0;
}

.detail-send label:first-of-type {
	margin-left: 0;
}

.detail-send label {
	cursor: pointer;
	margin-left: 5px;
}

.detail-flex {
	display: flex;
	justify-content: space-between;
	//margin-bottom: 5px;
}

.detail-send .detail-send-right button {
	width: 151px;
	height: 31px;
}

.detail-infobar {
	position: absolute;
	width: 100%;
	height: 28px;
	bottom: 0;
	background: rgba(0, 0, 0, 0.7);
	z-index: 2;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 16px;
}

.detail-info-left {
	display: flex;
	align-items: center;
}

.slider-btn.slider-btn-active {
	color: #fbdf39;
}

.slider-btn:first-of-type {
	margin-left: 0;
}

.slider-btn {
	color: #f6f8f8;
	font-size: 18px;
	margin-left: 3px;
	margin-top: -2px;
	cursor: pointer;
}

.detail-info-right {
	display: flex;
	align-items: center;
	color: #fff;
	font-size: 13px;
}

.detail-info-right > * {
	margin-left: 15px;
}

.detail-info-right > *:first-of-type {
	margin-left: 0;
}

.detail-info-right .pred-rate {
	margin-top: -2px;
}

.detail-info-right .pred-rate span {
	font-size: 16px;
}

.detail-submenu-box {
	position: absolute;
	top: 2px;
	right: 3px;
	z-index: 2;
	height: 279px;
	background: rgba(0, 0, 0, 0.7);
	border: 1px solid #4fa5e8;
	display: none;
    width: 50%;
}

.detail-submenu-up {
	background: transparent url(../images/submenu_up.png) no-repeat;
	background-position: center center;
	width: 100%;
	height: 13px;
	cursor: pointer;
	border-bottom: 1px solid #4fa5e8;
}

.detail-submenu-down {
	background: transparent url(../images/submenu_down.png) no-repeat;
	background-position: center center;
	width: 100%;
	height: 13px;
	cursor: pointer;
	border-top: 1px solid #4fa5e8;
	position: absolute;
	bottom: 0;
}

.detail-submenu {
	overflow-y: hidden;
	height: 252px;
}

.detail-submenu-item a,
.detail-submenu-item a:hover{
	color: #fff;
	text-decoration: none;
}

.detail-submenu-item:first-of-type {
	border-top: none;
	border-bottom: 1px solid #4fa5e8;
}

.detail-submenu-item:hover {
	background-color: rgba(71, 172, 243, 0.25);
}

.detail-submenu-item {
	height: 26px;
	cursor: pointer;
	color: #fff;
	padding: 4px 6px;
	font-size: 14px;
	border-top: 1px solid #4fa5e8;
}

input[type=radio] + label {
	padding-right: 20px;
    height: 15px;
    line-height: 15px;
	display: inline-block;
    background-repeat: no-repeat;
	cursor: pointer;
    background-position: right 0;
	background-image: url(../images/radio_states.png);
}

input[type=radio]:checked + label {
    background-position: right -15px;
}

input[type=radio] {
	width: 0;
	margin: 0;
}

header i.fa-calendar {
	color: rgb(79, 165, 232);
}

header i.fa-calendar:hover {
	color: rgba(79, 165, 232, 0.7);
}

.main-block p {
	margin-top: 0;
}

.breadcrumbs {
	display: flex;
	position: absolute;
	font-size: 14px;
	margin-top: -12px;
	align-items: center;
}

.breadcrumbs a:hover {
	color: #148bd4;
}

.breadcrumbs a:not([href]) {
	color: #000;
	text-decoration: none;
	cursor: text;
	margin-top: 1px;
}

.breadcrumbs a {
	text-decoration: underline;
	cursor: pointer;
	display: block;
	color: #0f6aa1;
	margin-right: 5px;
}

.breadcrumbs > span {
	display: block;
	background: url(../images/breadcrumbs.png);
	width: 11px;
	height: 9px;
	background-position: left center;
	margin-right: 5px;
	margin-top: 3px;
}

#add-tab-ul {
	position: absolute;
	width: 130px!important;
	margin-top: 0 !important;
}

#add-tab-ul li {
	font-size: 14px;
	font-family: Fregat!important;
}

#add-tab-ul li a {
	text-decoration: none;
}

#add-dropdown {
	padding-left: 10px;
}

#adv-add {
	margin-left: 0!important;
}

.ui-tooltip {
	font-size: 13px;
	font-family: Fregat!important;
}

body div.ui-widget-overlay  {
	z-index: 1000!important;
}

#contacts-box {
	color: #fff;
	padding: 15px 15px;
	line-height: 15px;
	width: 150px;
	font-size: 13px;
	height: initial;
}

#contacts-box .detail-submenu-block {
	color: #1069a1;
	font-size: 14px;
}

#contacts-box .detail-submenu-li {
	padding-left: 10px;
	font-size: 15px;
	line-height: 20px;
}

.tag-bed {
	background-image: url(../images/tag_bed.png);
}

.tag-bath {
	background-image: url(../images/tag_bath.png);
}

.tag-garage {
	background-image: url(../images/tag_garage.png);
}

.ltag-bed {
	background-image: url(../images/tag_l_bed.png);
}

.ltag-bath {
	background-image: url(../images/tag_l_bath.png);
}

.ltag-garage {
	background-image: url(../images/tag_l_garage.png);
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: bold;
}

.form-group {
        margin-bottom: 0;
}
