html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav > li > form {
    padding: 8px;
}

.nav > li > form > button:hover {
    text-decoration: none;
}

.user_update .current-photo img {
    max-height: 120px;
}

.file-preview-frame {
    margin: 6px;
    width: 160px;
    height: 160px;
    cursor: move;
    background-color: #fff;
}

.file-input .file-drop-zone img {
    max-width: 100%;
    max-height: 100px;
}

.file-preview-thumbnails .file-preview-frame:first-child {
    background-color: #ddd;
}

.not-bold-labels label {
    font-weight: normal;
}

.multiple-input-list__item:nth-child(2n) > td
{
    background-color: #f4f4f4;
}

.wrapper {
    overflow: initial;
    background-color: initial !important;
}

body {
    background-color: #ecf0f5;
}

.skin-blue-light .content-wrapper, .skin-blue-light .main-footer {
    border-left: 0px;
}

.sidebar {
    border-right: 1px solid #d2d6de;
    background-color: #f9fafc;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    margin-top: 0px;
}

@font-face {
    font-family: "Fregat";
    src: url(/fonts/Fregat_regular.otf);
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: "Fregat";
    src: url(/fonts/Fregat_bold.otf);
	font-weight: bold;
	font-style: normal;
}

@font-face {
    font-family: "Fregat";
    src: url(/fonts/Fregat_italic.otf);
	font-weight: normal;
	font-style: italic;
}

@font-face {
    font-family: "Fregat";
    src: url(/fonts/Fregat_bold_italic.otf);
	font-weight: bold;
	font-style: italic;
}
body,
.main-header .logo,
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6,
.redactor-editor
{
    font-family: "Fregat" !important;
}
