.advanced-search-widget {

    input[type=checkbox] {
        display: none;
    }

    .select-addit {
        left: 314px !important;
    }

    .select-addit-box {
        width: 396px;
        height: 219px;
        overflow-y: scroll;

        .check-all {
            background-image: url(../images/checkbox_states.png);
            width: 15px;
            height: 15px;
            margin-right: 5px;
            background-position: 0 -15px;
            cursor: pointer;
            margin-left: 15px;
        }

        .uncheck-all {
            background-image: url(../images/checkbox_states.png);
            width: 15px;
            height: 15px;
            margin-right: 5px;
            cursor: pointer;
        }

    }

    label {
        font-weight: normal;
    }
}

.advanced-search {
    margin: initial;
    left: 50%;
    top: 350px;
    margin-left: -395px;

    input[type=checkbox] {
        display: none;
    }

    .wnd-tab {
        flex-wrap: wrap;
        width: 100%;
        justify-content: flex-start;
        display: none;
                 
        &.active {
            display: flex;
        }
    }

    .advanced-wnd {
        margin-left: 7px;    
        width: 176px;
    }
}
