.recent-services {

    .pred-det {

        a {
            color: #fff;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }

    }

    .slick-slider {
        margin-left: -6px;

        .slick-track {

            .pred-item {
                margin-left: 10px !important;

                &:nth-child(3n+1) {
                    margin-left: 7px !important;
                }
            }
        }
    }
}
