.autocomplete-simple-search {
    top: 38px !important;
    width: 394px !important;
    max-height: 500px;

    li {
        border-bottom: 1px solid #ddd;
        padding: 5px 5px !important;

        &.ui-state-focus {
            background: initial !important;
            border: 0px;
            margin: 0;
            border-bottom: 1px solid #ddd;
            padding: 5px 5px !important;
            background-color: #eee !important;
        }
    }

    .line-1, .line-2, .line-3 {
        display: inline-block;

        .col-1 {
            display: inline-block;
            width: 90px;
            float: left;
        }

        .col-2 {
            display: inline-block;
            float:left;
            width: 270px;
        }
    }   

    .line-1 {

        .col-2 {
            font-weight: bold;
        }
    }

}
