.widgets_special-services {

    .inter-items {
        display: none;
        width: 755px;
        margin-left: -6px;

        &.active {
            display: inline-block;
        }

        .slide {
            display: block;
            width: 755px;

            > .pred-item {
                margin-left: 9px !important;

                &:nth-child(3n+1) {
                    margin-left: 7px !important;
                }
            }
        }
    }

    .adv-controls {
        display: none;
        margin-bottom: -3px;

        &.active {
            display: flex;
        }
    }
}
