.widgets_yandex-weather {
    display: inline-block;

    .city-name {
        text-align: center;
        font-size: 20px;
        font-weight: bold;
        height: 25px;
    }

    .line {
        display: inline-block;
        height: 65px;
        padding-top: 15px;
        padding-left: 5px;
        float: left;

        .date {
            width: 70px;
            display: inline-block;
            font-size: 12px;
            float: left;

            .name {
                font-weight: bold;
            }

            .number {
            }
        }        

        .temperature {
            width: 35px;
            display: inline-block;
            float: left;

            .daily {
                font-size: 14px;
                font-weight: bold;
                text-align: center;
            }

            .nightly {
                font-size: 13px;
                text-align: center;
            }
        }

        .icon {
            width: 35px;
            display: inline-block;
            float: left;

            img {
                max-width: 100%;
                margin-top: -5px;
            }
        }

        .description {
            width: 77px;
            display: inline-block;
            font-size: 12px;
            padding-left: 4px;
            float: left;
        }

        &:nth-child(4),
        &:nth-child(6) {
            background-color: #E6F1FF;
            border-top: 1px solid #eee;
            border-bottom: 1px solid #eee;
        }

        &:nth-child(5) {
            background-color: #d3e2f5;
        }

    }

}
