.popup {

    .popup-overlay {
        background: rgba(0, 0, 0, 0.85);
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9999;
    }

    .popup-content {
        border-radius: 5px;
        background-color: #fff;
        position: fixed;
        top: 50%;
        left: 50%;
        z-index: 10000;
        display: inline-block;
        padding: 10px;

        .popup-close {
        }

        .content {
        }
    }

}
