.result-items {

    .result-item {

        .result-item-buttons {

            .contacts {
                display: none;
                position: absolute;
                right: 10px;
                bottom: 20px;
                z-index: 100;
                padding: 5px 15px;
                width: 300px;
                height: 279px;
                background: rgba(0,0,0,0.7);
                border: 1px solid #4fa5e8;
                color: #fff;

                h3 {
                    color: #4fa5e8;
                    font-size: 16px;
                    font-weight: normal;
                    margin-bottom: 3px;
                    margin-top: 15px;
                }

                p {
                    color: #fff;
                    padding-left: 10px;
                    margin-bottom: 3px;
                }
            }

            .description {
                display: none;
                position: absolute;
                width: 300px;
                left: 10px;
                bottom: 20px;
                z-index: 100;
                padding: 10px 0px;
                background: rgba(0,0,0,0.7);
                border: 1px solid #4fa5e8;
                color: #fff;
                overflow-y: hidden;

                p {
                    color: #fff;
                    padding-left: 10px;
                    margin-bottom: 3px;
                }
            }
        }
    }
}
