.service_list {

    .result-item-name {

        a {
            color: #333;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.result-item-buttons {
/*	width: calc(100% - 7px);*/
	height: 41px;
	border-radius: 3px;
	border: 1px solid #8d7b16;
	background: #f9f0c1;
	position: relative;
	bottom: 0;
	display: flex;
    justify-content: space-around;
	padding: 6px;
	align-items: center;
}

.result-item-buttons a.result-btn {
	font-size: 14px;
	color: #000;
	text-decoration: none;
	border-left: 1px solid #8d7b16;
	text-align: center;
	flex: 1;
	position: relative;
}

.result-item-buttons a.result-btn:nth-of-type(2) {
	border-left: 0;
}

.result-item-buttons a.result-btn:hover {
	color: #e64408;
	text-decoration: none;
}
.result-btn-more:before {
	content: "";
	display: inline-block;
	width: 16px;
	height: 17px;
	position: absolute;
	margin-left: 5px;
	background: transparent url(../images/more_icon.png) no-repeat;
}

.result-btn-map:before {
	background: transparent url(../images/map_icon.png) no-repeat;
	content: "";
	display: inline-block;
	width: 9px;
	height: 14px;
	position: absolute;
	margin-top: 3px;
	margin-left: -6px;
}

.result-btn-phone:before {
	background: transparent url(../images/phone_icon.png) no-repeat;
	content: "";
	display: inline-block;
	width: 14px;
	height: 20px;
	position: absolute;
	margin-left: -8px;
}

.result-btn-favorite:before {
	background: transparent url(../images/favoritesmall_icon.png) no-repeat;
	content: "";
	display: inline-block;
	width: 19px;
	height: 17px;
	position: absolute;
	margin-top: 2px;
	margin-left: -2px;
}
