.service_view {
    
    .detail-right {

        > a {
            text-decoration: none;
            color: #333;

            .detail-menuitem {
                margin-top: 3px;
            }
        }
    }

    .detail-submenu {

        a {
            text-decoration: none;

        }    
    }

    .detail-submenu-box.contacts {
        color: #fff;
        font-size: 16px;
        padding-left: 15px;

        p {
            padding-left: 10px;
            margin-bottom: 3px;
        }

        h3 {
            color: #4fa5e8;
            font-size: 16px;
            font-weight: normal;
            margin-bottom: 3px;
            margin-top: 15px;
        }
    }

    .show-more {
        text-align: center;

        hr {
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }

    .detail-comments {
        margin-bottom: 30px;
    }

    .detail-send {

        .detail-send-left {
            input {
                display: none;
            }

            label {
                font-weight: normal;
                font-size: 16px;
            }
        }
    }
}
